/* You can add global styles to this file, and also import other style files */
body
{
    background-color: black;
    color: lawngreen;
    font-family: monospace;
}

.app-body 
{
    display: flex;
    justify-content: center;
}

.info-container 
{
    min-width: 20vw;
}

.audio-player-container
{
    max-width: 60vw;
}

.info-container,
.audio-player-container 
{
    border: 1px solid lawngreen;
    padding: 20px;
    height: 60vh;
    margin-left: 10px;
    margin-right: 10px;
}